@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

img{
  width: 20px;
  height: 20px;
}

li{
  list-style: none;
}

.navbar{
  display: flex;
  padding: 2vh 2vw 2vh 2vw;
  justify-content: space-between;
  border-bottom: 1px;
  background-color: #5cdb95;
}

.nav-right{
  display: flex;
  gap: 2vw;
  background-color: #5cdb95;
}

.nav-elements{
  float: left;
  font-weight: 800;
  color: #03456B;
}

.nav-elements:hover{
  cursor: pointer;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  background-color: #5cdb95;
}

.nav-sign{
  float: left;
  font-weight: 800;
  color: #5cdb95;
  background-color: #03456B;
  padding: 5px 10px 5px 10px;
}

.nav-sign:hover{
  transition-duration: 0.5s;
  border-radius: 30px;
  cursor: pointer;
}

.menu{
  display: flex;
  align-self: center;
  padding-right: 2vw;
}

.body{
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #5cdb95;
}